@page "/badges"
@rendermode InteractiveWebAssembly
@attribute [StreamRendering]
@inject IBadgesDAL dal
@inject NavigationManager nav

<h3>BadgesPage</h3>

@if (badges == null)
{
    <img src="/images/spur_gears_animation.gif" />
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var badge in badges)
        {
            <tr>
                <td>@badge.Title </td>
                <td>@badge.Description</td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" @onclick="(() => OnEditBadgeClick(badge))">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger btn-sm" @onclick="(()=> OnDeleteBadgeClickAsync(badge))">Delete</button>
                </td>
            </tr>
        }
    </table>
    <button type="button" class="btn btn-primary" @onclick="OnAddBadgeClick">Add Badge</button>
}
@code {
    private List<Badge>? badges;

    protected async override Task OnInitializedAsync()
    {
        badges = await dal.GetAllAsync();
    }

    protected void OnAddBadgeClick()
    {
        nav.NavigateTo("badge");
    }

    protected void OnEditBadgeClick(Badge badge)
    {
        nav.NavigateTo($"badge/{badge.Id}");
    }

    protected async Task OnDeleteBadgeClickAsync(Badge badge)
    {
        badges?.Remove(badge);
        await dal.DeleteAsync(badge.Id);
    }
}
