@page "/badge"
@page "/badge/{Id}"

@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IBadgesDAL dal
@inject NavigationManager nav

<h3>Badge Page</h3>
@if (badge == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm OnValidSubmit="@OnSubmitClickAsync" Model="badge">

        <DataAnnotationsValidator />
        @* <ValidationSummary /> *@
        <div>
            <div class="form-group">
                <label>
                    Title:
                </label>
                <InputText class="form-control" @bind-Value="badge.Title" />
                <ValidationMessage For="() => badge.Title" />
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>
                    Description:
                </label>
                <InputTextArea class="form-control" @bind-Value="badge.Description" />
                <ValidationMessage For="() => badge.Description" />
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>
                    Task:
                </label>
                <InputTextArea class="form-control" @bind-Value="badge.Task" />
                <ValidationMessage For="() => badge.Task" />
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>
                    Turn in Instructions:
                </label>
                <InputTextArea class="form-control" @bind-Value="badge.TurninInstructions" />
                <ValidationMessage For="() => badge.TurninInstructions" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}
<button type="button" class="btn btn-danger" @onclick="OnCancelClick">Cancel</button>

<p>
    @message
</p>
@code {

    [Parameter]
    public string? Id { get; set; }

    private string? message;
    private Badge? badge;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            //create new badge
            badge = new Badge();
        }
        else
        {
            //edit existing badge
            //get existing badge from db
            Guid guid;
            if (Guid.TryParse(Id, out guid))
            {
                badge = await dal.GetBadgeAsync(guid);
            }
            else
            {
                //TODO: address error
            }
        }
    }

    protected async Task OnSubmitClickAsync(EditContext editContext)
    {
        if (badge?.Id == Guid.Empty)
        {
            //New Badge so add it
            await dal.AddAsync(badge);
        }
        else
        {
            //Updating an existing badge
            await dal.UpdateAsync(badge);
        }
        nav.NavigateTo("badges");
    }

    protected void OnCancelClick()
    {
        nav.NavigateTo("badges");
    }
}
