@page "/badges"
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject NavigationManager nav
@inject BadgesPageDAL dal

<h3>Badges Page</h3>

@if(badges == null)
{
    <p>Loading...</p>
}
else
{
    @foreach(var badge in badges)
    {
        <p>@badge.Title</p>
    }

    <button type="button" class="btn btn-primary" @onclick="GoToBadgePage">Add Badge</button>
}
@code {
    private List<Badge>? badges;

    protected async override Task OnInitializedAsync()
    {
        //Get badges
        badges = await dal.GetAllAsync();
    }

    private void GoToBadgePage()
    {
        nav.NavigateTo("badge");
    }
}
